.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: black !important;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
  background-color: black !important;
}

.header_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424 !important;
}

.header_menu {
  background-color: #242424 !important;
}

.search {
  border-radius: 32px !important;
  width: 158px !important;
  margin-left: 50px;
}

.login {
  margin-left: 8px;
  background-color: rgb(204, 27, 27) !important;
  border: none !important;
}

.footer_menu {
  line-height: 35px !important;
  background-color: transparent !important;
  margin-left: 420px !important;
}
