.container {
  padding: 0 18vw;
  display: flex;
  width: 64vw;
  background-color: #f9f9f9 !important; 
}

.sider {
  width: 18vw !important;
  background-color: white !important;
  position: fixed;
}
